body {
    background-color: #F3F3F3;
	margin: 0;
	font-family: Greta;
}

p.small {
    font-size: 13px;
    color: #777;
    margin-top: 27px;
}

input.text {
    background-color: #FFF;
    border: 0;
    padding: 10px;
    width: 288px;
    display: block;
    margin: 0 auto;
	font-family: Greta;
}

.form {
    margin-top: 25px;
}

input.submit {
    background-color: #555;
    border: 0;
    color: #FFF;
    height: 40px;
    width: 288px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
	cursor: pointer;
	font-family: Greta;
}

.container {
    display: table;
    width: 100%;
    height: 100vh;
}

.contents {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}