/* demo style */ 

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    line-height: 25px;
    font-size: 15px;
    color: #444;
}
.container {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #38c;
}

a:hover {
    color: #FF771A;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #CECECE;
}

* {
    -webkit-box-sizing:border-box;  
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}


.clear {
    clear: both;
}

ul#social {
    float: left;
    width: 33.333%;
}

.row {
    max-width: 1200px;     
    margin: 30px auto;
    overflow: hidden;
    width: 100%;
}

.header {
    background-color: #ECECEC;
    padding: 100px;
    color: #383535;      
    text-align: center;
}

.header h2 {
    /* margin: 0; */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 15px;
    font-size: 40px;
}

.purchase a {
    background-color: #EEE;
    display: block;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    color: #272626;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 8px;
    transition: all .5s ease;      
    -webkit-transition: all .5s ease;      
    -moz-transition: all .5s ease;      
    -o-transition: all .5s ease;
}

.purchase a:hover {
    background-color: #333;
    color: #EEE;
}

.header p {
    color: #555;
}

.online-demo a {
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
    background-color: #ECECEC;
    background-color: #333;
    display: block;
    padding: 20px;
    color: #EEE;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 5px;
    font-size: 12px;
    transition: all .5s ease;      
    -webkit-transition: all .5s ease;      
    -moz-transition: all .5s ease;      
    -o-transition: all .5s ease;
}

.online-demo {
    text-align: center;
    overflow: hidden;
    width: 100%;
    background-color: #EEE;
    padding: 30px 0;
}

.online-demo a:hover {
    background-color: #ECECEC;      
    color: #272626;
}

.title {
    padding: 40px 0;
}

.title h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title:after {
    content: '';
    width: 60px;
    height: 1px;
    display: block;
    background-color: #BBB8B8;
    margin-top: 40px;
}

.youtube {
  width: 100%;
  margin: 0 auto;
}